<div class="container-fluid pt-5 house-members-container">
    <div class="house-members-background" [ngStyle]="{'background-image': 'url('+ backgroundImage +')'}"></div>
    <div class="container">
        <h2 class="mb-3 pt-4 ">House {{ houseSlug | uppercase }}</h2>
        <h3 class="">Members</h3>
        <div *ngIf="loading" class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
        <div *ngIf="error" class="alert alert-danger">
            {{ error }}
        </div>
        <ul class="list-group">
            <li class="list-group-item btn mb-3 text-left member" *ngFor="let member of houseMembers"
                [routerLink]="['/characters', member.slug]">
                {{ member.name }}
            </li>
        </ul>
    </div>
</div>