<div class="container-fluid house-members-container">
    <div class="house-members-background" [ngStyle]="{'background-image': 'url('+ backgroundImage +')'}"></div>
    <h2 class="mb-3 pt-4 ">House {{houseSlug | uppercase}}</h2>
    <h3 class="">Members</h3>
    <ul class="list-group">
        <li class="list-group-item btn mb-3 text-left member" *ngFor="let member of houseMembers"
            [routerLink]="['/characters', member.slug]">
            {{ member.name }}
        </li>
    </ul>
</div>