<div class="container-fluid bg-light">
    <h2 class=" pt-4 mb-3">Characters</h2>
    <div class="row">
        <div class="col-md-6">
            <input type="text" class="form-control mb-3" [(ngModel)]="searchQuery" placeholder="Search character..."
                (input)="filterCharacters()">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" *ngFor="let character of filteredCharacters">
            <div class="card mb-4 {{character.house?.slug}} house-container">
                <div class="card-body">
                    <h5 class="card-title" [routerLink]="['/characters', character.slug]">{{ character.name }}
                    </h5>
                    <div *ngIf="character.house">
                        <p [routerLink]="['/houses', character.house.slug]">of {{ character.house.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>