<div class="container-fluid houses-container">
    <div class="houses-background"></div>
    <h2 class="pt-4 mb-3">Houses</h2>

    <div class="row">
        <div class="col-md-6">
            <input type="text" class="form-control mb-3" [(ngModel)]="searchQuery" placeholder="Search houses..."
                (input)="filterHouses()">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" *ngFor="let house of filteredHouses">
            <div class="card mb-4 align-items-start btn house-container {{house.slug}}"
                [routerLink]="['/houses', house.slug]">
                <div class="card-body">
                    <h5 class="card-title">{{ house.name }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>