<div class="container-fluid mb-4 pt-5 text-center bg-light">
    <div class="container">
        <h2 class="pt-4 mb-3">Random Quotes</h2>
        <div *ngFor="let quote of quotes">
            <div class="card mb-3">
                <div class="card-body">
                    <div *ngIf="quote.character">
                        <h5 class="card-title clicker" [routerLink]="['/characters', quote.character.slug]">{{
                            quote.character.name }}</h5>
                        <div *ngIf="quote.character.house.name">
                            <p class="card-subtitle mb-2 text-muted clicker"
                                [routerLink]="['/houses', quote.character.house.slug]">of {{
                                quote.character.house.name
                                }}</p>
                        </div>
                    </div>
                    <p class="card-text">"{{ quote.sentence }}"</p>
                </div>
            </div>
        </div>

        <div class="fixed-bottom text-center mb-2">
            <button class="btn btn-dark" (click)="getRandomQuotes()">Get New Quotes</button>
        </div>
    </div>
</div>