<div class="container">
    <h2 class="mt-4 mb-3">{{ characterDetails.name }} Details:</h2>
    <div *ngIf="characterDetails.house">
        <h4>House:</h4>
        <p class="clicker" [routerLink]="['/houses', characterDetails.house.slug]">{{
            characterDetails.house.name }}
        </p>
    </div>
    <div *ngIf="characterDetails.quotes && characterDetails.quotes.length > 0">
        <h4>Quotes:</h4>
        <ul>
            <li *ngFor="let quote of characterDetails.quotes">{{ quote }}</li>
        </ul>
    </div>
</div>